<div class="about">
    <div class="container about__container">
        <div class="about__empty"></div>
        <h2 class="about__caption" id="about">About</h2>
        <div class="about__text">
            <p class="about__paragraph">
                <a href="#">Spekl</a> specializes in the production of card products for various purposes, as well as SIM cards packaging for mobile operators and kits with cards for retail companies, banks, insurance companies and others. The company was founded in 1998 in Kyiv (Ukraine) and at the moment collaborates with customers in Europe, Africa and Asia.
            </p>
            <p class="about__paragraph">
                <a href="#">Spekl</a> is certified according to ISO 9001:2008. Production capacity: plastic cards - 26 million per year, cardboard cards (scratch cards) - 150 million per year, SIM card packaging and welcome and gift cards packages production - 400 million per year, data entry - 24 million per year. 
            </p>
            <p class="about__paragraph">
                <a href="#">Spekl’s</a> official partner for Slovakian region is MIST, s.r.o.  The company specialized in providing the brokerage services in area of loyalty and gift cards. 
            </p>
        </div>
    </div>
</div>