<div class="contacts">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1371.1930404694817!2d17.097711107687463!3d48.104145568514824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476c89bfd5084f35%3A0xf26a0593617c533f!2zQnVkYXTDrW5za2EgMzY4Ny8xMCwgODUxIDA0IFBldHLFvmFsa2EsINCh0LvQvtCy0LDQutC40Y8!5e0!3m2!1sru!2sua!4v1543352678363" frameborder="0" class="map" allowfullscreen></iframe>
    <div class="container contacts__container">
        <div class="contacts__box">
            <h3 class="contacts__caption" id="contacts">Contacts </h3>
            <span class="contacts__text">
                MIST s.r.o. (partner in Slovakia)
            </span>
            <div class="contacts__city_box">
                <span class="contacts__address">Budatinska 10, 851 06, Bratislava</span>
                <a href="+421 915 399 183 " class="contacts__phone contacts__phone--1">+421 915 399 183 </a>
                <div class="contacts__mail_box">
                    <a href="mailto:sales@sk-mist.eu, " class="contacts__mail contacts__mail--1">sales@sk-mist.eu, </a>
                    <a href="mailto:michal.oravec@sk-mist.eu" class="contacts__mail">michal.oravec@sk-mist.eu </a>
                </div>
            </div>
            <span class="contacts__text">
                Headquarters Spekl LLC
            </span>
            <div class="contacts__city_box">
                <span class="contacts__address">35, Svitlytskogo St., Kyiv, 04123, Ukraine</span>
                <div class="contacts__phone_box">
                    <a href="tel:+38 044 463 40 76" class="contacts__phone contacts__phone--1">+38 044 463 40 76, </a>
                    <a href="tel:+38 044 463 36 45" class="contacts__phone">+38 044 463 36 45</a>
                </div>
                <a href="mailto:sales@spekl.ua" class="contacts__mail contacts__mail--1">sales@spekl.ua</a> 
            </div>
            <div class="contacts__blue_line"></div>
        </div>
    </div>
</div>