<div class="main">
    <div class="container">
        <div class="main__box">
            <span class="main__text">
                Production of<br>
                <strong>plastic</strong> &amp; <strong>cardboard cards<br></strong>
                of<strong> any quantity</strong> &amp; <strong>design<br>
                complexity</strong>
            </span>
            <button class="main__btn">
                Submit Request 
                <img src="./img/check.png" alt="">
            </button>
        </div>
        <img src="./img/circle.png" alt="" class="main__img_circle">
        <div class="main__services services">
            <span class="service-item">
                    <strong>19</strong> years operation<br>
                    on the card marker
            </span>
            <span class="service-item">
                    <strong>ISO</strong> 9001:2008
            </span>
            <span class="service-item">
                More than<br>
                <strong>300</strong> specialists 
            </span>
            <span class="service-item">
                Customers form<br>
                <strong>15</strong> countries of Europe,<br> 
                Africa and Asia
            </span>
            <span class="service-item">
                More than <strong>1</strong> bln produced<br>
                card products
            </span>
        </div>
    </div>
</div>