<div class="portfolio">
    <div class="container portfolio__container">
        <h3 class="portfolio__caption" id="portfolio">Portfolio</h3>
        <div class="portfolio__content">
            <div class="portfolio__column">
                <div class="portfolio__box">
                    <img src="./img/brocard.png" alt="brocard" class="portfolio__img">
                    <span class="portfolio__text">Loyalty cards for Brocard (parfums and consmetics retail chain)</span>
                </div>
                <div class="portfolio__box">
                    <img src="./img/intertop.png" alt="intertop" class="portfolio__img portfolio__img--intertop">
                    <span class="portfolio__text">Gift package for Intertop (shoe retial chain)</span>
                </div>
            </div>
            <div class="portfolio__column">
                <div class="portfolio__box">
                    <img src="./img/butlers.png" alt="butlers" class="portfolio__img portfolio__img--butlers">
                    <span class="portfolio__text">Welcome packages for Butlers (home goods retail chain)</span>
                </div>
                <div class="portfolio__box">
                    <img src="./img/Kari.png" alt="kari" class="portfolio__img">
                    <span class="portfolio__text">Welcome package for Kari (shoe retial chain)</span>
                </div>
            </div>
        </div>
        <button class="portfolio__btn">
            See more
            <img src="./img/load.png" alt="load" class="portfolio__btn_img">
        </button>
    </div>
</div>