<div class="products">
    <div class="container products__container">
        <div class="products__empty-box"></div>
        <h2 class="products__caption">Products</h2>
        <div class="products__cells">
            <div class="products__cells_box">
                <img src="./img/1.png" alt="" class="products__img">
                <span class="products__text">Loyalty <br> cards</span>
            </div>
            <div class="products__cells_box">
                <img src="./img/2.png" alt="" class="products__img--2">
                <span class="products__text">Welcome <br> packages </span>
            </div>
            <div class="products__cells_box">
                <img src="./img/3.png" alt="" class="products__img">
                <span class="products__text">Gift <br> cards </span>
            </div>
            <div class="products__cells_box">
                <img src="./img/4.png" alt="" class="products__img--4">
                <span class="products__text">Gift <br> packages </span>
            </div>
            <div class="products__cells_box">
                <img src="./img/5.png" alt="" class="products__img">
                <span class="products__text">Promo cards <br> with scratch <br> panel</span>
            </div>
            <div class="products__cells_box">
                <img src="./img/6.png" alt="" class="products__img">
                <span class="products__text">Transport <br> cards </span>
            </div>
            <div class="products__cells_box">
                <img src="./img/7.png" alt="" class="products__img">
                <span class="products__text">Insurance <br> cards </span>
            </div>
            <div class="products__cells_box">
                <img src="./img/8.png" alt="" class="products__img">
                <span class="products__text">Access <br> control cards</span>
            </div>
            <div class="products__cells_box">
                <img src="./img/9.png" alt="" class="products__img">
                <span class="products__text">Smart cards, <br> RFID cards</span>
            </div>
        </div>
        <button class="products__btn">
            Submit Request <img src="./img/check-orange.png" alt="check" class="product__check">
        </button>
    </div>
</div>