<div class="reviews">
    <div class="container reviews__container">
        <h3 class="reviews__caption" id="testimonials">Testimonials</h3>
        <div class="reviews__box">
            <div class="reviews__box_row">
                <div class="reviews__text">
                    <span class="reviews__text_description">
                        Оцінюючи якість роботи нашого партнера ми можемо відзначити високий рівень обслуговування, якісний результат роботи, відсутність помилок і неточностей, оперативність і відповідальність персоналу, відповідність вимогам безпеки. Ми дякуємо компанії «Спекл» за плідну співпрацю, результат роботи і прагнення перевершити наші очікування.<br>
                    </span>
                    <span class="reviews__text_name">Maria Wichkraft</span>
                    <span class="reviews__text_position">Regional manager of Comfy Inc</span>
                </div>
                <img src="./img/wog.png" alt="wog" class="reviews__img--wog">
            </div>
            <div class="reviews__box_row">
                <img src="./img/eva.png" alt="eva" class="reviews__img--eva">
                <div class="reviews__text">
                    <span class="reviews__text_description text__eva">
                        Висловлюємо подяку ТОВ «Компанія «Спекл» за плідну співпрацю при виробництві пластикових карток та комплектів лояльності. Ми високо оцінили якість продукції, швидкість виробництва та рівень обслуговування. Окремо зазначимо індивідуальний підхід, компетентність та відповідальність персоналу компанії, завдяки яким співпраця стає ще більш ефективною. <br>
                    </span>
                    <span class="reviews__text_name text__name_eva">Ivan Jordan</span>
                    <span class="reviews__text_position">Regional manager of Watsons Inc</span>
                </div>
            </div>
            <div class="reviews__box_row">
                <div class="reviews__text">
                    <span class="reviews__text_description text__may">
                        Шановні партнери!<br>
                        Висловлюємо подяку за пілду співпрацю з компанією ТОВ «Компанія «Спекл». Ми задоволені рівнем виконання наших замовлень, якістю продукції та можливістю замовлень карток двічі на тиждень.<br>
                        Окрема подяка менеджеру Вірган Марині за професіоналізм, зацікавленість у задоволенні клієнтів та організацією комфортних умов співпраці.<br>
                        ПрАТ «Міжнародні авіалінії України» рекомендує ТОВ «Компанія «Спекл» як надійного, клієнтоорієнтованого та професійного партнера на ринку карткових продуктів.<br>
                    </span>
                    <span class="reviews__text_name text__name_may">Eleonor Ruzwelt</span>
                    <span class="reviews__text_position">Regional manager of Comfy Inc</span>
                </div>
                <img src="./img/may.png" alt="may" class="reviews__img--may">
            </div>
            <button class="reviews__btn">
                    Read more
                <img src="./img/talk.png" alt="" class="reviews__btn_img">
            </button>
        </div>
    </div>
</div>