<div class="tech">
    <div class="container tech__container">
        <h2 class="tech__caption">Technical capabilities</h2>
        <img src="./img/card.png" alt="" class="tech__card">
        <div class="tech__option_container">
            <div class="tech__box">
                <h3 class="tech__option_caption">Printing:</h3>
                <span class="tech__option">Offset, silk screen, digital, combined<br> (silk screen+digital, silk screen+offset)</span>
            </div>
            <div class="tech__box">
                    <h3 class="tech__option_caption">Personalization:</h3>
                    <span class="tech__option">Embossing, indent printing, magnetic <br> stripe, scratch panel, barcode, number,<br> QR code, signature panel, hot foil stamping</span>
            </div>
            <div class="tech__box">
                <h3 class="tech__option_caption">Lamination:</h3>
                <span class="tech__option">Gloss, matte, texture  </span>
            </div>
            <div class="tech__box">
                <h3 class="tech__option_caption">Chip:</h3>
                <span class="tech__option">MIFARE &reg;, EM-Marine </span>
            </div>
            <div class="tech__box">
                <h3 class="tech__option_caption">PVC:</h3>
                <span class="tech__option">White, color, transparent </span>
            </div>
            <div class="tech__box">
                <h3 class="tech__option_caption">Security features:</h3>
                <span class="tech__option">UV glow, hologram  </span>
            </div>
            <div class="tech__box">
                <h3 class="tech__option_caption">Form:</h3>
                <span class="tech__option">Standard (85,6х54,00х0,76 mm),<br> 1, 2, 3 tag, (28,53/ 57,06х54,00х0<br> 76 mm), non-standard </span>
            </div>
            <div class="tech__box">
                <h3 class="tech__option_caption">Additional features:</h3>
                <span class="tech__option">Selective UV-lacquering, textured<br> vanish, pearl powder effect</span>
            </div>
        </div>
        <div class="tech__cards">
            <div class="tech__cards_box">
                <span class="tech__card_text">Card of standard size<br> with punched holes</span>
                <img src="./img/holes.png" alt="" class="tech__card--1">
            </div>
            <div class="tech__cards_box">
                <span class="tech__card_text">Segmentation <br>of cards</span>
                <img src="./img/segments.png" alt="" class="tech__card--2">
            </div>
            <div class="tech__cards_box">
                <span class="tech__card_text">Cards of non-standard<br> shape</span>
                <img src="./img/shapes.png" alt="" class="tech__card--3">
            </div>
        </div>
    </div>
</div>
<div class="cards">
    <div class="container cards__container">
        <h3 class="cards__caption">Smart cards, RFID cards</h3>
        <span class="cards__text">NXP original chips</span>
        <div class="cards__list_container">
            <div class="cards__lists">
                <span class="cards__item">Mifare Ultralight EV1</span>
                <span class="cards__item">Mifare Ultralight C</span>
                <span class="cards__item">EM-Marine 4200</span>
            </div>
            <div class="cards__lists cards__list--2">
                <span class="cards__item">Mifare Classic EV1 1k</span>
                <span class="cards__item">Mifare Classic EV1 4k</span>
            </div>
            <div class="cards__lists cards__list--3">
                <span class="cards__item">Mifare Plus EV1 2/4k</span>   
                <span class="cards__item">Mifare Plus SE 1k</span>
                <span class="cards__item">Mifare Plus S 2/4k</span>
                <span class="cards__item">Mifare Plus X 2/4k</span>
            </div>
            <div class="cards__lists cards__lists--4">
                <span class="cards__item">Mifare DESFire EV1 2k</span>
                <span class="cards__item">Mifare DESFire EV1 4k</span>
                <span class="cards__item">Mifare DESFire EV1 8k</span>
            </div>
        </div>
    </div>
</div>