.about {
    background-color: $main-color;
    position: relative;

    &__container {
        padding-left: 138px;
        box-sizing: border-box;
        padding-bottom: 83px;
    }

    &__empty {
        width: 584px;
        height: 28px;
        border-radius: 4px 4px 0 0;
        position: absolute;
        background-color: $main-color;
        top: -27px;
        left: 209px;
    }

    &__caption {
        font-family: $font-bold;
        font-size: 48px;
        padding: 35px 0 25px 0;
        color: $white-color;
    }

    &__text {
        line-height: 23px;
    }

    &__paragraph {
        padding-right: 95px;
        color: $white-color;
        font-family: $font;
        font-size: 18px;
        padding-bottom: 20px;
    
        a {
            color: $white-color;
            font-family: $font-bold;
        }
    }
}


@media screen and (max-width: 1200px) {
    .about__container {
        padding-left: 27px;
    }

    .about__empty {
        left: 149px;
    }
}

@media screen and (max-width: 1030px) {
    .about__empty {
        left: 100px;
    }

    .about__paragraph {
        padding-right: 50px;
    }
}


@media screen and (max-width: 1030px) {
    .about__container {
        padding-left: 52px;
    }

    .about__empty {
        left: 134px;
    }
}

@media screen and (max-width: 870px) {
    .about__container {
        padding-left: 0;
    }
}

@media screen and (max-width: 770px) {
    .about__empty {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .about__paragraph {
        padding-right: 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .about__paragraph {
        font-size: 15px;
    }
}
