@font-face {
  font-family: 'PragmaticaBook-Reg';
  src: url('../fonts/PragmaticaBook-Reg.eot');
  src: url('../fonts/PragmaticaBook-Reg.woff2') format('woff2'),
       url('../fonts/PragmaticaBook-Reg.woff') format('woff'),
       url('../fonts/PragmaticaBook-Reg.ttf') format('truetype'),
       url('../fonts/PragmaticaBook-Reg.svg#PragmaticaBook-Reg') format('svg'),
       url('../fonts/PragmaticaBook-Reg.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PragmaticaBold-Reg';
  src: url('../fonts/PragmaticaBold-Reg.eot');
  src: url('../fonts/PragmaticaBold-Reg.woff2') format('woff2'),
       url('../fonts/PragmaticaBold-Reg.woff') format('woff'),
       url('../fonts/PragmaticaBold-Reg.ttf') format('truetype'),
       url('../fonts/PragmaticaBold-Reg.svg#PragmaticaBold-Reg') format('svg'),
       url('../fonts/PragmaticaBold-Reg.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
