.container {
    width: 1180px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {

    &__box {
        display: flex;
        padding: 18px 0 21px 41px;
        justify-content: space-between;
        background-color: $white-color;
    }
}

.navigation {
    
    &__box {
        display: flex;
        align-items: center;
        margin-right: 3px;
    }

    &__item {
        color: $black-color;
        font-family: $font;
        font-size: 18px;
        text-decoration: none;
        padding: 0 13px;
        cursor: pointer;
    }

    &__btn {
        font-family: $font-bold;
        color: $black-color;
        font-size: 18px;
        height: 39px;
        margin-top: 5px;
        background-color: $white-color;
        border-radius: 4px;
        border: 3px solid #ff530f;
        padding: 0 16px;
        cursor: pointer;
    }
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}


.burger,
.burger-label,
.burger-close {
    display: none;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 900px;
    }

    .navigation__item {
        font-size: 15px;
    }

    .navigation__btn {
        font-size: 16px;
        padding: 0;
        height: 50px;
    }

    .navigation {
        padding: 0 0 0 56px;
    }
}

@media screen and (max-width: 1030px) {
    .container {
        width: 800px;
    }

    .navigation__btn {
        font-size: 12px;
    }

    .logo {
        width: 105px;
        height: 44px;
        padding-top: 7px;
    }
}

@media screen and (max-width: 870px) {
    .container {
        width: 750px;
    }

    .header__box {
        padding-left: 1px;
    }

    .navigation__item {
        padding: 0 8px;
    }

    .navigation {
        padding: 0;
    }

    .navigation__item {
        &:nth-of-type(3) {
            display: flex;
            flex-direction: column;
            width: 80px;
        }
    }
}

@media screen and (max-width: 770px)  {
    .container {
        width: 600px;
    }

    .logo {
        width: 85px;
        height: 38px;
    }

    .navigation__item {
        padding: 0 4px;
        font-size: 13px;
    }

    .navigation__btn {
        font-size: 10px;
        padding: 0 10px;
    }

    .navigation {
        width: 100%;
        align-items: center;
    }

    .burger-label {
        display: block;
        background-image: repeating-linear-gradient(to bottom,
      transparent,
      transparent 6.5px,
      black 6.5px,
      black 13px);
        height: 40px;
        width: 40px;
    }

    .logo {
        display: none;
    }

    .navigation__box {
        position: fixed;
        width: 200px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        z-index: 2;
        top: 0;
        left: -100%;
        background: $main-color;
        border-right: 1px solid $black-color;
        box-sizing: border-box;
        transition: left 0.2s ease-out;

    }

    .burger:checked ~ .navigation__box {
        left: 0;

        .navigation__item {
            height: 40px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid $main-color;
            color: $main-color;
            box-sizing: border-box;
            padding: 0;
            font-weight: bold;
            background: white;
        }
    }

    .burger-close {
        position: absolute;
        right: -40px;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 5px;
        font-size: 24px;
    }
}

@media screen and (max-width: 640px) {
    .container {
        width: 500px;
        flex-direction: column;
    }

    .logo {
        width: 103px;
        height: 50px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 520px) {
    .container {
        width: 400px;
    }

    .navigation {
        display: flex;
        flex-direction: column;
    }

    .navigation__btn {
        width: 131px;
        margin: 0 auto;
        margin-top: 21px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        width: 300px;
    }

    .navigation__box {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
    }

    .navigation__item {
        padding: 6px 8px;
        font-size: 13px;
    }
}