.main {
    background-image:
    $hand-image,
    $main-bg-img;
    background-repeat: no-repeat;
    height: 683px;
    background-size: 763px, cover;
    background-position: 392px 79px, 0 0;
    position: relative;

    &__box {
        display: flex;
        flex-direction: column;
        padding: 64px 0 0 49px;
    }

    &__text {
        color: $white-color;
        font-family: $font;
        font-size: 40px;
        letter-spacing: 0;
        line-height: 48px;
        padding-bottom: 105px;
    
        strong {
            letter-spacing: 1.8px;
        }
    }

    &__img_circle {
        position: absolute;
        top: 47px;
        right: 326px;
    }
    
    &__services {
        position: absolute;
        right: 98px;
        top: 50px;
    }
}

.btn {
    width: 276px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: $main-color;
    border: none;
    color: $white-color;
    font-family: $font-bold;
    font-size: 24px;
    padding: 16px 7px 20px 14px;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        padding-left: 19px;
    }
}

.services {
    display: flex;
    flex-direction: column;
}

.service__item {
    font-family: $font;
    color: $white-color;
    font-size: 18px;
    position: absolute;
    min-width: 222px;

    &:nth-of-type(1) {
        right: 130px;
        top: 10px;
        line-height: 21px;
    }
    &:nth-of-type(2) {
        top: 125px;
        right: 29px;    
        letter-spacing: 0.2px;
    }
    &:nth-of-type(3) {
        top: 210px;
        right: 0px;
        line-height: 23px;
        letter-spacing: 0.3px;    
    }
    &:nth-of-type(4) {
        top: 305px;
        right: 32px;
        line-height: 22px;
        letter-spacing: 0.2px;
    }
    &:nth-of-type(5) {
        right: 130px;
        top: 422px;
        line-height: 22px;    
    }
}

.callback {
    position: fixed;
    top: 256px;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;

    &__item {
        width: 58px;
        height: 69px;
        background: $main-color;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
        transition: opacity 0.2s ease-in;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &:first-of-type {
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
        
        &:last-of-type {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }

    &__icon {
        height: 20px;
    }
} 

@media screen and (max-width: 1200px) {
    .main {
        background-position: 257px 79px, 0 0;

        &__box {
            padding: 67px 0 0 0px;
        }

        &__img_circle {
            right: 229px;
        }

    }

    .service__item:nth-of-type(1) {
        right: 27px;
        top: 0px;
    }

    .service__item:nth-of-type(2) {
        right: -68px;
    }

    .service__item:nth-of-type(3) {
        right: -97px;
    }

    .service__item:nth-of-type(4) {
        top: 312px;
        right: -64px;
    }

    .service__item:nth-of-type(5) {
        right: 52px;
        top: 441px;
    }
}

@media screen and (max-width: 1030px) {
    .main__text {
        font-size: 33px;
    }

    .btn {
        width: 255px;
        font-size: 20px;
    }
    
    .main {
        background-position: 46px 79px, 0 0;
    }
}

@media screen and (max-width: 870px) {
    .main__text {
        font-size: 27px;
    }

    .btn {
        width: 238px;
    }

    .main {
        background-position: -74px 79px, 0 0;
    }
}

@media screen and (max-width: 770px) {
    .main {
        height: 1000px;
    }

    .main__img_circle {
        right: 225px;
        top: 449px;
    }

    .service__item:nth-of-type(1) {
        top: 409px;
    }

    .service__item:nth-of-type(2) {
        top: 509px;
    }

    .service__item:nth-of-type(3) {
        top: 609px;
    }

    .service__item:nth-of-type(4) {
        top: 709px;
    }

    .service__item:nth-of-type(5) {
        top: 830px;
        right: 27px;
    }

    .main {
        background-position: -156px 406px, 0 0;
    }

    .main__text {
        font-size: 33px;
        text-align: center;
    }

    .btn {
        margin: 0 auto;
    }
}

@media screen and (max-width: 520px) {
    .main__text {
        font-size: 26px;
        padding-bottom: 26px;
    }

    .main {
        background-position: -275px 406px, 0 0;
    }
}

@media screen and (max-width: 400px) {
    .main {
        background-position: -348px 406px, 0 0;
    }

    .main__text {
        font-size: 21px;
    }

    .btn {
        width: 213px;
        font-size: 16px;

        img {
            height: 24px;
        }
    }

    .main__img_circle {
        right: 190px;
    }

    .service__item:nth-of-type(1) {
        right: 10px;
        width: 200px;
    }

    .service__item:nth-of-type(2) {
        right: -34px;
        top: 525px;
    }

    .service__item:nth-of-type(3) {
        right: -68px; 
    }

    .service__item:nth-of-type(4) {
        right: -78px;
        width: 200px;
    }

    .service__item:nth-of-type(5) {
        right: -4px;
        width: 221px;
    }

    .service__item {
        min-width: 140px;
    }
}
