.main {
    background-image: $main-bg-img;
    background-repeat: no-repeat;
    height: 683px;
    background-size: cover;
    background-position: 0 0;
    position: relative;

    &__box {
        display: flex;
        flex-direction: column;
        padding: 64px 0 0 68px;
        position: relative;
        z-index: 1;
    }

    &__text {
        color: $white-color;
        font-family: $font;
        font-size: 40px;
        letter-spacing: 0;
        line-height: 48px;
        padding-bottom: 105px;
    }

    &__strong {
        font-size: 38px;
     }

    &__img_circle {
        position: absolute;
        top: 0px;
        right: 140px;
    }

    &__img_hand {
        position: absolute;
        right: 175px;
        top: 29px;
        width: 769px;
    }
    
    &__services {
        position: absolute;
        right: 167px;
        top: 50px;
    }
}

.btn {
    width: 276px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: $main-color;
    border: none;
    color: $white-color;
    font-family: $font-bold;
    font-size: 24px;
    padding: 16px 7px 20px 14px;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        padding-left: 19px;
    }
}

.services {
    display: flex;
    flex-direction: column;
}

.strong {
    font-family: $font-bold;
    letter-spacing: 1.2px;
}

.service__item {
    font-family: $font;
    color: $white-color;
    font-size: 18px;
    position: absolute;
    min-width: 222px;

    &:nth-of-type(1) {
        right: 36px;
        top: 12px;
        line-height: 21px;
    }
    &:nth-of-type(2) {
        top: 129px;
        right: -62px;
    }
    &:nth-of-type(3) {
        top: 212px;
        right: -94px;
        line-height: 22px;   
    }
    &:nth-of-type(4) {
        top: 306px;
        right: -62px;
        line-height: 22px;
        letter-spacing: 0.2px;
    }
    &:nth-of-type(5) {
        right: 36px;
        top: 424px;
        line-height: 22px;    
    }
}

.callback {
    position: fixed;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    top: 0;
    bottom: 0;
    height: 240px;

    &__item {
        width: 58px;
        height: 69px;
        background: $main-color;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
        transition: opacity 0.2s ease-in;
        cursor: pointer;
        padding: 30px 0;

        &:hover {
            opacity: 1;
        }

        &:first-of-type {
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
        
        &:last-of-type {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }

    &__icon {
        height: 20px;
    }
} 

@media screen and (max-width: 1200px) {
    .main {
        &__box {
            padding: 67px 0 0 0px;
        }
    }

    .service__item:nth-of-type(1) {
        right: 27px;
        top: 0px;
    }

    .service__item:nth-of-type(2) {
        right: -68px;
    }

    .service__item:nth-of-type(3) {
        right: -97px;
    }

    .service__item:nth-of-type(4) {
        top: 312px;
        right: -64px;
    }

    .service__item:nth-of-type(5) {
        right: 52px;
        top: 441px;
    }
}

@media screen and (max-width: 1030px) {
    .main__text {
        font-size: 33px;
        padding-bottom: 20px;
    }

    .btn {
        width: 255px;
        font-size: 20px;
    }

    .main__services {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: relative;
    

        img {
            display: none;
        }

        span {
            position: static;
            padding-top: 12px;
            font-size: 95%;
        }
        // position: relative;
    }
}

@media screen and (max-width: 870px) {
    .main__text {
        font-size: 27px;
    }

    .btn {
        width: 238px;
    }
}

@media screen and (max-width: 770px) {
    .main {
        height: auto;
        padding-bottom: 20px;
    }

    .service__item {
        text-align: center;
    }

    .main__text {
        font-size: 33px;
        text-align: center;
    }

    .btn {
        margin: 0 auto;
    }
}

@media screen and (max-width: 520px) {
    .main__text {
        font-size: 26px;
        padding-bottom: 26px;
    }
}

@media screen and (max-width: 400px) {

    .main__text {
        font-size: 21px;
    }

    .btn {
        width: 213px;
        font-size: 16px;

        img {
            height: 24px;
        }
    }

    .service__item {
        min-width: 140px;
    }
}
