.products {
    background-color: $main-color;
    position: relative;
    padding-bottom: 109px;

    &__container {
        border-top: 2px solid white;
    }

    &__empty-box {
        width: 584px;
        height: 28px;
        border-radius: 4px 4px 0 0;
        background-color: $main-color;
        position: absolute;
        top: -28px;
        left: 206px;    
        border: 2px solid white;
        border-bottom: none;
    }

    &__caption {
        font-family: $font-bold;
        font-size: 48px;
        padding: 7px 0 44px 137px;
        color: $white-color;
    }

    &__cells {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 39px;
    }

    &__cells_box {
        display: flex;
        width: 360px;
        height: 200px;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        background-color: $white-color;
        align-items: center;
        margin-bottom: 33px;
        padding: 0 0 0 35px;
        box-sizing: border-box;
        line-height: 28px;
    }

    &__img {
        height: 85px;
        padding-top: 19px;
    }

    &__img--2 {
        height: 129px;
        width: 110px;
    }

    &__img--4 {
        width: 104px;
        height: 147px;
        padding-top: 19px;
    }

    &__text {
        padding-left: 27px;
        color: $black-color;
        font-family: $font;
        font-size: 24px;
    }

    &__btn {
        width: 275px;
        box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        background-color: $white-color;
        border: none;
        color: #202f3b;
        font-family: $font-bold;
        font-size: 24px;
        display: flex;
        justify-content: center;
        margin: 33px 0 0 473px;
        padding: 18px 0 22px 0;
        cursor: pointer;
    }

    &__check {
        margin-left: 23px;
        height: 29px;
    }
}


.line {
    width: 100%;
    height: 1px;
    background-color: $white-color;
    margin-top: 50px;
}

@media screen and (max-width: 1200px) {
    .products__caption {
        padding-left: 40px;
    }

    .products__empty-box {
        left: 154px;
    }

    .products__cells_box {
        width: 276px;
        padding: 0 0 0 16px;
    }

    .products__img {
        height: 75px;
    }

    .products__img--4 {
        width: 100px;
        height: 130px;
        padding-top: 15px;
    }

    .products__btn {
        margin-left: 337px;
    }
}

@media screen and (max-width: 1030px) {
    .products__empty-box {
        left: 119px;
    }

    .products__cells_box {
        width: 331px;
        padding: 0 0 0 39px;
        margin: 13px auto;
    }

    .products__btn {
        margin-left: 284px;
    }

    .products__caption {
        padding-left: 0;
        text-align: center;
    }

    .products__empty-box {
        left: 159px;
    }
}

@media screen and (max-width: 870px) {
    .products__empty-box {
        left: 66px;
    }

    .products__cells_box {
        width: 296px;
    }

    .products__cells {
        padding: 0 37px 0 0;
    }

    .products__btn {
        margin-left: 212px;
    }
}

@media screen and (max-width: 770px)  {
    .products__empty-box {
        left: 89px;
        width: 427px;
    }

    .products__cells_box {
        width: 268px;
        padding: 0 0 0 11px;
    }

    .products__btn {
        margin-left: 135px;
    }
}

@media screen and (max-width: 640px) {
    .products__empty-box {
        left: 60px;
        height: 29px;
    }

    .products__cells_box {
        flex-direction: column;
    }

    .products__text {
        padding-left: 0;
        text-align: center;
    }

    .products__cells_box {
        width: 199px;
    }

    .products__cells {
        padding: 0;
    }
    
    .products__btn {
        width: 192px;
        font-size: 15px;
        display: flex;
        align-items: center;
        margin: 30px auto 0;
    }

    .product__check {
        width: 24px;
    }
}

@media screen and (max-width: 520px) {
    .products__container {
        border: none;
    }

    .products__empty-box {
        display: none;
    }
}