.reviews {

    &__container {
        padding: 99px 0 0 136px;
    }

    &__caption {
        font-family: $font-bold;
        font-size: 48px;
        padding: 0 0 55px 4px;
        color: #fc5d0c;
    }

    &__box {
        display: flex;
        flex-direction: column;
    }

    &__box_row {
        display: flex;
        &:not(:last-of-type) {
            margin-bottom: 56px;
        }

        &:last-of-type {
            margin-top: -4px;
        }
    }

    &__text {
        width: 729px;
        border-radius: 4px;
        border: 10px solid #eaeaea;
        padding-bottom: 22px;
        position: relative;
    }

    &__text_description {
        width: 699px;
        color: $black-color;
        font-family: $font;
        font-size: 18px;
        padding: 12px 0 0 22px;
        display: inline-block;
        line-height: 22px;
        font-weight: 600;
    }

    &__text_name {
        color: $black-color;
        font-family: $font-bold;
        font-size: 24px;
        padding: 32px 0 0 20px;
        display: inline-block;
    }

    &__text_position {
        color: #c6c6c6;
        font-family: $font;
        font-size: 18px;
        padding-left: 39px;
    }

    &__img--wog {
        width: 131px;
        height: 82px;
        padding: 69px 0 0px 48px;
    }

    &__img--eva {
        width: 119px;
        height: 69px;
        padding: 78px 0 0 34px;
        margin-right: 43px;
    }

    &__img--may {
        width: 119px;
        height: 42px;
        padding: 133px 0 0 53px;
    }

    &__btn {
        width: 275px;   
        display: flex;
        box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        background-color: $main-color;
        color: $white-color;
        font-family: $font-bold;
        font-size: 24px;
        padding: 16px 0 12px 38px;
        margin-left: 352px;
        margin-top: 49px;
        border: none;
        cursor: pointer;
    }

    &__btn_img {
        width: 42px;
        height: 43px;
        padding-left: 32px;
        position: relative;
        top: -5px;
    }
}

.text__eva {
    line-height: 22px;
    padding: 14px 0 0 19px;
}

.text__name_eva {
    padding: 30px 10px 0 24px;
}

.text__may {
    padding-top: 21px;
    line-height: 22px;
}

.text__name_may {
    padding: 20px 0 0 18px;
}

@media screen and (max-width: 1200px) {
    .reviews__container {
        padding-left: 0;
    }
}

@media screen and (max-width: 1030px) {
    .reviews__text_description {
        width: 80%;
        box-sizing: border-box;
    }
    
    .reviews__text_name {
        font-size: 22px;
    }

    .reviews__btn {
        margin-left: 310px;
    }

    .reviews__text {
        width: 500px;
    }
}

@media screen and (max-width: 870px) {
    .reviews__text_description {
        width: 443px;
    }

    .reviews__img--wog {
        padding-left: 23px;
    }

    .reviews__img--eva {
        padding-left: 0;
    }

    .reviews__img--may {
        padding-left: 30px;
    }

    .reviews__btn {
        margin-left: 259px;
    }
}

@media screen and (max-width: 770px)  {
    .reviews__box_row {
        flex-direction: column;
    }

    .reviews__img--wog {
        padding: 30px 0;
        margin: 0 auto;
    }

    .reviews__text {
        margin: 0 auto; 
    }

    .reviews__img--may {
        margin: 0 auto;
        padding: 30px 0;
    }

    .reviews__img--eva {
        order: 1;
        padding: 30px 0;
        margin: 0 auto;
    }

    .reviews__btn {
        margin: 25px auto 0;
    }
}

@media screen and (max-width: 640px) {
    .reviews__text_description {
        width: 356px;
    }

    .reviews__text {
        flex-direction: column;
        display: flex;
    }

    .reviews__text_position {
        padding-left: 21px;
        padding-top: 10px;;
    }

    .reviews__text {
        width: 411px;
    }
}

@media screen and (max-width: 520px) {
    .reviews__text {
        width: 400px;
    }
}


@media screen and (max-width: 520px) {
    .reviews__text_description {
        width: 201px;
    }

    .reviews__text {
        width: 280px;
    }

    .reviews__text_position {
        padding-left: 18px;
        font-size: 15px;
    }
}