.tech {
    background-image: $tech-bg-img;
    background-repeat: no-repeat;
}

.tech__container {
    padding: 62px 0 126px 38px;
    position: relative;
}

.tech__caption {
    color: $white-color;
    font-family: $font-bold;
    font-size: 48px;
    padding-bottom: 70px;
}

.tech__card {
    position: absolute;
    top: -36px;
    right: 20px;
}

.tech__option_container {
    display: flex;
    flex-wrap: wrap;
    width: 773px;
    padding-left: 41px;
}

.tech__box {
    width: 50%;
    padding-bottom: 37px;
    position: relative;
    cursor: pointer;

    &::before {
        content: '';
        background-image: $tech-check-off;
        background-size: cover;
        background-repeat: no-repeat;
        width: 29px;
        height: 33px;
        display: block;
        position: absolute;
        top: -7px;
        left: -39px;    
    }

    &:hover {
        &::before {
            content: '';
            background-image: $tech-check-on;    
        }

        .tech__option,
        .tech__option_caption {
            color: $white-color;
        }
    }
}

.tech__option_caption {
    color: #798f9c;
    font-family: $font-bold;
    font-size: 24px;
    line-height: 18px;
    padding-bottom: 9px;
}

.tech__option {
    color: #798f9c;
    font-family: $font;
    font-size: 18px;
    line-height: 19px;
}

.tech__cards {
    display: flex;
    justify-content: space-between;
    padding: 54px 72px 0 41px;
    line-height: 28px;
}

.tech__cards_box {
    display: flex;
    flex-direction: column;
}

.tech__card_text {
    color: $white-color;
    font-family: $font-bold;
    font-size: 24px;
}

.tech__card--1 {
    width: 164px;
    height: 109px;
    padding-top: 48px;
}

.tech__card--2 {
    width: 182px;
    height: 127px;
    padding-top: 42px;
    padding-right: 10px;
}

.tech__card--3 {
    width: 208px;
    height: 131px;
    padding-top: 40px;
}

.cards {
    position: relative;
}

.cards__container,
.cards__caption_box {
    border-radius: 4px;
    background-color: $white-color;
    width: 1140px;
}

.cards__caption_box {
    position: absolute;
    top: -75px;
    left: 190px;
}

.cards__caption {
    color: #1b2933;
    font-family: $font-bold;
    font-size: 24px;
    padding-top: 28px;
    padding-left: 37px;
}

.cards__text {
    color: #1b2933;
    font-family: $font;
    font-size: 18px;
    padding: 9px 0 0 37px;
    display: inline-block;
}

.cards__list_container {
    display: flex;
    padding: 48px 0 0 0;
    margin: 0 82px 0 38px;
}

.cards__lists {
    display: flex;
    flex-direction: column;
    color: #606060;
    font-family: $font;
    font-size: 18px;
    border-right: 1px solid #2e3e4a;
    height: 148px;
    padding-right: 29px;
}

.cards__item {
    padding-bottom: 25px;
    width: 194px;
}

.cards__list--2 {
    padding: 0 68px 0 30px;
}

.cards__list--3 {
    padding: 0 70px 0 29px;
} 

.cards__lists--4 {
    padding-left: 27px;
    border: none;
}

.examples__container {
    padding-top: 121px;
}

.examples__caption {
    color: #fc5d0c;
    font-family: $font-bold;
    font-size: 48px;
    width: 954px;
    margin: 0 auto;
}

.examples__cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 94px 20px 0 22px;
}

.examples__card_box {
    display: flex;
    flex-direction: column;
    width: 262px;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: $white-color;
    margin-bottom: 32px;
}

.example__card_img {
    width: 160px;
    height: 101px;
    padding: 58px 50px;
}

.examples__card--9 {
    padding: 46px 0 69px 49px;
}

.examples__card--10 {
    width: 142px;
    height: 89px;
    padding: 55px 54px 71px 54px;
}

.examples__card--11 {
    width: 217px;
    height: 186px;
    padding: 17px 1px 13px 42px;
}

.examples__card--12 {
    width: 229px;
    height: 170px;
    padding: 25px 0 21px 18px;
}

.example__card_text {
    width: 262px;
    border-radius: 4px;
    background-color: #2d485d;
    display: inline-block;
    color: $white-color;
    font-family: $font;
    font-size: 16px;
    height: 60px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding-left: 22px;
}

.example__btn {
    margin: 33px auto;
}