.tech {
    background-image: $tech-bg-img;
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        padding: 62px 0 126px 38px;
        position: relative;
    }

    &__caption {
        font-family: $font-bold;
        font-size: 48px;
        padding-bottom: 70px;
        color: $white-color;
    }

    &__card {
        position: absolute;
        top: -36px;
        right: 20px;
    }

    &__option_container {
        display: flex;
        flex-wrap: wrap;
        width: 773px;
        padding-left: 41px;
    }

    &__box {
        width: 50%;
        padding-bottom: 37px;
        position: relative;
        cursor: pointer;
    
        &::before {
            content: '';
            background-image: $tech-check-off;
            background-size: cover;
            background-repeat: no-repeat;
            width: 29px;
            height: 33px;
            display: block;
            position: absolute;
            top: -7px;
            left: -39px;    
        }
    
        &:hover {
            &::before {
                content: '';
                background-image: $tech-check-on;    
            }
    
            .tech__option,
            .tech__option_caption {
                color: $white-color;
            }
        }
    }

    &__option_caption {
        color: #798f9c;
        font-family: $font-bold;
        font-size: 24px;
        line-height: 18px;
        padding-bottom: 9px;
    }

    &__option {
        color: #798f9c;
        font-family: $font;
        font-size: 18px;
        line-height: 19px;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        padding: 54px 72px 0 41px;
        line-height: 28px;
    }

    &__cards_box {
        display: flex;
        flex-direction: column;
    }

    &__card_text {
        color: $white-color;
        font-family: $font-bold;
        font-size: 24px;
    }

    &__card--1 {
        width: 164px;
        height: 109px;
        padding-top: 48px;
    }

    &__card--2 {
        width: 182px;
        height: 127px;
        padding-top: 42px;
        padding-right: 10px;
    }

    &__card--3 {
        width: 208px;
        height: 131px;
        padding-top: 40px;
    }
}


.cards {
    position: relative;

    &__container {
        border-radius: 4px;
        background-color: $white-color; 
        width: 1140px;
        top: -74px;
        position: relative;
        padding-left: 37px;
        box-sizing: border-box;
    }

    &__caption_box {
        padding-bottom: 37px;
    }

    &__caption {
        color: #1b2933;
        font-family: $font-bold;
        font-size: 24px;
        padding-top: 28px;
    }

    &__text {
        color: #1b2933;
        font-family: $font;
        font-size: 18px;
        padding: 9px 0 0;
        display: inline-block;
    }
    
    &__list_container {
        display: flex;
        padding: 6px 0 0 0;
        margin: 0;
    }

    &__lists {
        display: flex;
        flex-direction: column;
        color: #606060;
        font-family: $font;
        font-size: 18px;
        border-right: 1px solid #2e3e4a;
        height: 148px;
        padding-right: 30px;
    }

    &__item {
        width: 194px;
        padding-top: 25px;

        &:first-of-type {
            padding-top: 0;
        }
    }

    &__list--2 {
        padding: 0 68px 0 30px;
    }

    &__list--3 {
        padding: 0 70px 0 29px;
    } 

    &__lists--4 {
        padding-left: 27px;
        border: none;
    }
}

.examples {


    &__container {
        padding-top: 50px;
    }
    
    &__caption {
        color: #fc5d0c;
        font-family: $font-bold;
        font-size: 48px;
        text-align: center;
    }

    &__cards_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 94px 20px 0 22px;
    }

    &__card_box {
        display: flex;
        flex-direction: column;
        width: 262px;
        box-shadow: 0 0 21px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        background-color: $white-color;
        margin-bottom: 32px;
    }

    &__card--9 {
        padding: 46px 0 69px 49px;
    }

    &__card--10 {
        width: 142px;
        height: 89px;
        padding: 55px 54px 71px 54px;
    }

    &__card--11 {
        width: 217px;
        height: 186px;
        padding: 17px 1px 13px 42px;
    }

    &__card--12 {
        width: 229px;
        height: 170px;
        padding: 25px 0 21px 18px;
    }
}


.example__card_img {
    width: 160px;
    height: 101px;
    padding: 58px 50px;
}

.example__card_text {
    width: 262px;
    border-radius: 4px;
    background-color: #2d485d;
    display: inline-block;
    color: $white-color;
    font-family: $font;
    font-size: 16px;
    height: 60px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding-left: 22px;
}

.example__btn {
    margin: 33px auto;
}

@media screen and (max-width: 1200px) {
    .tech__option_container {
        width: 545px;
    }

    .tech__card {
        right: -2px;
    }

    .tech__cards {
        padding-right: 23px;
    }

    .cards__caption_box {
        top: -103px;
        left: 137px;
    }

    .cards__container, 
    .cards__caption_box {
        width: 900px;
    }

    .cards__list--2 {
        padding: 0 35px 0 26px;
    }

    .cards__list--3 {
        padding-right: 21px;
    }

    .cards__lists {
        padding-right: 0;
    }
}

@media screen and (max-width: 1030px) {
    .tech__card {
        right: -52px;
        top: -69px;
    }

    .tech__caption {
        font-size: 44px;
    }

    .tech__option_container {
        padding-left: 0;
    }

    .tech__cards {
        padding-right: 15px;
        padding-left: 0;
    }

    .cards__container, 
    .cards__caption_box {
        width: 800px;
    }

    .cards__caption_box {
        left: 129px;
    }

    .cards__list_container {
        width: 800px;
    }

    .cards__item {
        font-size: 14px;
    }

    .cards__list--2 {
        padding: 0 0 0 9px;
    }

    .cards__lists {
        width: 170px;
    }

    .examples__caption {
        font-size: 42px;
    }

    .examples__cards_container {
        padding: 94px 68px 0 68px;
    }
  
}

@media screen and (max-width: 870px) {
    .tech__card {
        right: 51px;
        width: 210px;
    }

    .cards__container,
    .cards__caption_box {
        width: 100%;
        min-width: 100%;
        box-sizing: border-box;
        padding-left: 0;
        text-align: center;
    }

    .cards__container,
    .cards__list_container {
        width: 100%;
        min-width: 100%;
    }

    .cards__list_container {
        flex-direction: column;
        align-items: center;
    }

    .cards__lists {
        text-align: center;
        width: 100%;
        padding-left: 0;
        border-right: none;
        align-items: center;
        height: auto;
        padding-bottom: 15px;
    }

    .cards__item {
        padding-top: 10px;
    }

    .examples__cards_container {
        padding: 94px 82px 0 38px;
    }
}

@media screen and (max-width: 770px) {
    .tech__card {
        top: -116px;
        right: 28px;
    }

    .tech__container {
        padding-left: 0px;
    }

    .tech__box {
        width: 281px;
    }

    .tech__card {
        top: 147px;
        right: 6px;
        width: 300px;
    }

    .tech__card_text {
        font-size: 15px;
        text-align: center;
    }

    .tech__cards {
        padding-right: 0;
    }

    .tech__card--2 {
        padding-left: 29px;
    }

    .cards__item {
        font-size: 12px;
    }

    .cards__caption_box {
        padding-bottom: 18px;
        padding-left: 5px;
    }

    .examples__cards_container {
        padding: 94px 0px 0 0px;
    }

    .examples__container {
        padding-top: 0;
    }

    .examples__cards_container {
        padding-top: 30px;
    }
}

@media screen and (max-width: 640px) {
    .tech__card {
        width: 200px;
    }

    .tech__cards {
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .tech__cards_box:nth-of-type(3) {
        margin: 10px auto;
    }

    .cards__list_container {
        display: flex;
        width: 400px;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .cards__container, 
    .cards__caption_box {
        width: 552px;
    }

    .cards__lists {
        padding: 0;
        border: 0;
        border-bottom: 1px solid #191919;
        height: 128px;
        margin-bottom: 22px;
    }

    .examples__card_box,
    .example__card_text {
        width: 226px;
    }
    
} 

@media screen and (max-width: 520px) {
    .tech__card {
        width: 168px;
        top: 180px;
        right: 0px;
    }

    .cards__container, 
    .cards__caption_box {
        width: 400px;
    }

    .tech__option_container {
        width: 300px;
    }

    .cards__lists {
        margin: 0 auto;
    }

    .examples__card_box, .example__card_text {
        margin: 0 auto;
    }
}

@media screen and (max-width: 520px) {
    .tech__card {
        display: none;
    }

    .tech__card--2 {
        padding-left: 0;
    }

    .tech__card_text {
        padding-top: 14px;
    }

    .tech__cards_box:nth-of-type(3) {
        margin: 0 auto;
    }

    .tech__cards_box {
        margin: 0 auto;
    }

    .cards__container, 
    .cards__caption_box {
        width: 331px;
    }

    .cards__list_container {
        width: 300px;
    }
}