$font: "PragmaticaBook-Reg";
$font-bold: "PragmaticaBold-Reg";
$main-color:#f07d00;
$black-color: #191919;
$white-color: #ffffff;
$hand-image: url('../img/hand.png');
$main-bg-img: url('../img/background.png');
$tech-bg-img: url('../img/bg-tech.png');
$tech-check-off: url('../img/check-gray.png');
$tech-check-on: url('../img/check-orange.png');